# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Eclipse
.classpath
.checkstyle
.factorypath
.project
.settings

# Codegen
.generated
.apt_generated
generated_src/
generated_testSrc/
**/src/generated/

# OS X
.DS_Store

# Java
*.class

# Build Systems
.gradle/
bin/
build/
out/

# Gc logs
build*.gc.log

# Jqwik property based testing
.jqwik-database

# Gradle JDKs setup
!gradle/*
